<a href="/restaurant/create{{ restaurant.id }}/">Create A Restaurant</a>
<form method='GET'>
  <input type='text' name='q' value='{{ request.GET.q }}'>
  <input class="button" type='submit' value="Search Restaurant">
</form>
{% if restaurant_list %}
    <ul>
    {% for restaurant in restaurant_list %}
        <a href="/restaurant/{{ restaurant.id }}/">
        <li>
            {{ restaurant.name }}
            <p>Category : {{ restaurant.category }}</p>
            <p>Price range : {{ restaurant.price_range }}</p>
        </li>
        </a>
    {% endfor %}
    </ul>
{% else %}
    <p>There is no restaurant!</p>
{% endif %}